@import url("https://fonts.gooogleapis.com/css2?family=Poppins&display=swap");


body {
        margin: 0;
        font-family: 'Times New Roman', Times, serif
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
        
    }



.word {
    margin: auto;
    color: white;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}



#face_page {
    background: linear-gradient(to right, #4182BC, #435C7B);
    padding-bottom: 100px;
}

.present,
.tagLine,
.brand {
    padding: 40px 0 0 60px;
    color: white;
    font-weight: bolder;
}

.navbar-custom .nav-link {
    color: white;
    font-weight: bold;
}

.navbar-custom .nav-link:hover {
    color: #365782;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 5px black;
}

.navbar-item {
    padding: 0 20px;
}

.present {
    font-size: 14px;
}

.tagLine {
    font-size: 1.5rem;

}

.brand {
    font-size: 4.5rem;
    line-height: 1.5;
}

.sport {
    padding-left: 20px;
    width: 100%;
    float: right;
}


/* cards */
.game {
    background-color: #E5E5E5;
}


.cardss {
    margin: 30px;
    border-radius: 16px;
    background: linear-gradient(to right, #4182BC, #435C7B);
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.cardss:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.cardss h3,
p {
    color: white;
    font-weight: 600;
}

.cardss img {
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
}


@media(max-width: 1200px) {

    /* .sport{
    position: static;
    width: 600px;
    display: block;
  margin-left: auto;
  margin-right: auto;


  } */
}

@media(max-width: 990px) {
    .card {
        margin: 20px;
    }
}



p {
    margin: 0 0 1.5em;
}

body {
    color: var(--contrast);
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    text-transform: none;
    font-size: 17px;
    line-height: 1.5;
}





/* footer */

#footer {
    padding: 7%;
    text-align: center;
    background: linear-gradient(to right, #4182BC, #435C7B);
}

.social {
    color: white;
    padding: 3%;
}

.social:hover {
    color: #E5E5E5;
}




/* testimonial */

.learning-heading {

    height: 100%;
    line-height: 2rem;
        font-family: 'Times New Roman', Times, serif; 
        border-radius: 15px;
      
}

.learning-heading h2 {
    font-size: 46px;
    color: #fff;
    padding-bottom: 30%;

}

.learning-heading h3 {
    font-size: 24px;
    color: #1E62D0;
    padding-top: 30%;
    padding-bottom: 5%;
    color: #fff;
    
    

}
.unique-testimonial{

    background: linear-gradient(to right, #4182BC, #435C7B);
    height: 400px;
    border-radius: 15px;
}
.testimonial-sec{
    
    margin: 100px;
    background-image: url("https: //images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=600");
}
.testimonial-container {
    
    margin: 20%;
    
    color: #fff;
    margin: 20px auto;
    padding: 50px 80px;
    position: relative;
   
}

.fa-quote {
    color: rgba(255, 255, 255, 0.3);
    font-size: 28px;
    position: absolute;
    top: 70px;
}

.fa-quote-right {
    left: 40px;
}

.fa-quote-left {
    right: 40px;
}

.testimonial {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    line-height: 28px;
    text-align: justify;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user .user-image {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.user .user-details {
    margin-left: 10px;
}

.user .username {
    margin: 0;
}

.user .role {
    font-weight: normal;
    margin: 8px 0;
}

.progress-bar1
 {
    background-color: #fff;
    color: white;
    height: 6px;
    border-radius: 50%;
    width: 100%;
    margin: 15px;
    animation: grow 5s linear infinite;
    transform-origin: left;
    
}
@keyframes grow {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

/* cards for explaining */
.unique-card {
    /* Your existing styles for .unique-card */
    opacity: 0;
        transform: translateX(-100%);
        transition: opacity 1s, transform 1s;
}

.unique-card.hidden {
    opacity: 0;
    transform: translateX(-100%);
}
.unique-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.unique-learning-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    /* Center-align the text */
}
.unique-learning-container h2{
    
    font-size: 40px;
    padding-bottom: 5%;
    font-weight: bolder;
    
    
}

.unique-learning-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.unique-card {
    flex: 0 1 calc(33.33% - 20px);
    margin: 10px;
    background-color: #f1f1f1;
    border-radius: 0 15px 15px 0;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(30, 98, 208, 0.4);
        
}

.unique-card h3 {
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.unique-card p {
    font-size: 16px;
    color: black;
}



/* numbers */

.expertise-section {
    text-align: center;
    padding: 20px;
}

.expertise-section h2 {
    font-size: 40px;
    padding-bottom: 5%;
}


.expertise-card {
    display: inline-block;
    width: 200px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(30, 98, 208, 0.4);
    width: calc(28% - 20px);
        /* Adjust the width for 4 cards in a row */
    height: 50%;
}

.expertise-card h3 {
    font-size: 18px;
}

.expertise-card p {
    font-size: 80px;
    color: black;
}


/* myteam */
/* Reset default list styles and remove padding */
.team-section {
    
    text-align: center;
    background-color: #f8f8f8;
}

.team-section h2 {
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 6%;
}

.team-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: calc(25% - 40px);
    /* 25% to fit 4 cards in a row, and 40px for margins */
    margin: 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s;
}

.team-card .profile-pic {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    transition: opacity 0.2s;
    /* Add opacity transition */
}

.team-card .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-card .team-card-info {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #1E62D0;
    color: white;
    padding: 8px 0;
    transform: translateY(100%);
    transition: transform 0.2s, opacity 0.2s;
    /* Add opacity transition */
    opacity: 0;
    z-index: 1;
    height: auto;
}

.team-card:hover .profile-pic {
    opacity: 0.2;
    /* Reduce opacity on hover */
}

.team-card:hover .team-card-info {
    transform: translateY(0);
    opacity: 1;
}